/venv

#file testing
test.csv
test.py
test_load_csv.py

#large data training
data_finetune_retrieval.csv
data_finetune_v1.csv

#large data
nvdcve-1.1-2024.json
nvdcve-1.1-2024.json.gz
data.json

#logging
/finetunelog

#db
/chroma_db